* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: normal normal 14px / 24px Roboto, sans-serif;

  text-rendering: optimizeLegibility;

  color: #333;

  -webkit-font-smoothing: antialiased;
}

h1 {
  font-weight: normal;

  margin: 0;
  margin-top: 20px;

  text-align: center;
}

p {
  margin: 20px 0;

  text-align: center;
  &:last-of-type {
    color: gray;
  }
}

a {
  color: $blue;
}

label {
  display: block;
  margin-bottom: 5px;
  input {
    vertical-align: middle;
  }
  span {
    margin-left: 7px;

    vertical-align: baseline;
  }
}

.container {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  &.large {
    max-width: 640px;
  }
}

.clearfix {
  &::before, &::after {
    display: table;

    content: ' ';
  }
  &::after {
    clear: both;
  }
}

.input-output {
  border: 1px solid $lighter-gray;
  border-radius: 2px;
  textarea {
    float: left;

    width: 50%;
    max-width: 50%;
    height: 400px;
    padding: 10px;

    resize: none;

    border: 0;
    outline: none;
    background-color: $lightest-gray;
    &:first-child {
      border-right: 1px solid $lighter-gray;
    }
  }
}

.test-results {
  padding-top: 30px;
  li {
    font-weight: 500;

    position: relative;

    display: block;

    margin-bottom: 6px;
    padding: 12px;
    padding-right: 48px;

    color: white;
    border-radius: 2px;
    &::after {
      font-family: 'Material Icons';
      font-size: 24px;

      position: absolute;
      top: 50%;
      right: 12px;

      transform: translateY(-50%);
    }
    &.success {
      background-color: $green;
      &::after {
        content: 'check';
      }
    }
    &.failure {
      background-color: $red;
      &::after {
        content: 'error_outline';
      }
    }
  }
}
